@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:400,700,400italic,700italic');

/* Special Padding / Margin / Text */

.row {
    margin-left: 0;
    /*helps remove unecessary white space on right vertical*/
    margin-right: 0;
    /*as above*/
}

h2,
h3 {
    /*Page section header and detailed recipe name header formattng*/
    text-align: center;
    padding-top: 1rem;
}

.spacer {
    /*Padding extensively used in creating add & edit recipe data update pages*/
    padding: 0.5rem;
    background-color: white;
}

.bottomleft {
    /*Position of the recipe detail button positioned to bottom left*/
    position: absolute;
    bottom: 0.6rem;
    left: 0.6rem;
}

input {
    /*Format the input boxes appearing in both edit and add recipe*/
    text-align: center;
    font: 400 15px/18px montserrat, lato, sans-serif;
}

.warning-msg {
    color: #ff0000;
    /*Red Warning colour to alert user*/
    font-weight: 500;
}

/* Colours - 'Gorgeous Contrast' palette taken from visme.co */

.bg-color-pea-green {
    background-color: #61892F;
}

.bg-color-lime-green {
    background-color: #86C232;
}

.bg-color-dark-slate {
    background-color: #222629;
}

.bg-color-charcoal {
    background-color: #474B4F;
}

.bg-color-cloud-grey {
    background-color: #6B6E70;
}

/* Navbar */

.navbar-brand {
    /*Virtual Cookbook brand narrative*/
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #61892F;
}

/* Navbar brand 'Virtual' & 'CookBook' flip when user hovers the cursor*/

.flip-box {
    background-color: transparent;
    padding-top: 1rem;
    width: 9.375rem;
    height: 6.25rem;
    perspective: 62.5rem;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    -o-transition: transform 2s;
    /*Opera*/
    -moz-transition: transform 2s;
    /*Windows*/
    -webkit-transition: transform 2s;
    /*Apple*/
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -o-backface-visibility: hidden;
    /*Opera*/
    -moz-backface-visibility: hidden;
    /*Windows*/
    -webkit-backface-visibility: hidden;
    /*Apple*/
}

.flip-box-front {
    background-color: #222629;
    color: #61892F;
}

.flip-box-back {
    background-color: #222629;
    color: #61892F;
    transform: rotateX(180deg);
}

navbar {
    border: 1px solid #222629;
}

nav ul a {
    /*Navbar buttons colour change managed through timing of .3 seconds*/
    transition: background-color .3s;
    -o-transition: background-color .3s;
    /*Opera*/
    -moz-transition: background-color .3s;
    /*Windows*/
    -webkit-transition: background-color .3s;
    /*Apple*/
    font-size: 1rem;
    color: #474B4F;
    /*Charcoal Grey*/
    display: block;
    padding: 0 0.9375rem;
    cursor: pointer;
}

nav ul a:hover {
    /*Sign in & Add recipe button colour change upon hover*/
    background-color: #474B4F;
    /*Charcoal Grey*/
    color: #fff;
}

.navbar-count-all {
    /*Recipe count & Favourite count formatted to blend into navbar colour scheme*/
    padding: 0.3rem;
    margin: 0.2rem;
    border: 2px solid rgba(134, 194, 50, 0.19); /*Cloud Grey*/
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration: none;
    cursor: default; 
    color: rgba(134, 194, 50, 0.39); /*39% shade of lime green*/
    box-shadow: 0 4px 8px 0 rgba(134, 194, 50, 0.2), 0 6px 20px 0 rgba(134, 194, 50, 0.19);
}

.sign-up {
    border-radius: 0.5rem;
    user-select: none;
    /*property specifies whether the text of an element can be selected*/
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    box-sizing: content-box;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
    font-size: 0.8rem;
    height: 1.4rem;
    padding: 0 0.4rem;
    display: inline-block;
    text-decoration: none;
    border: 0px;
    font-weight: 500;
    color: #fff;
    background-color: #61892F;
    /*Pea Green*/
    outline: none;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
}

.add-recipe,
.my-recipes {
    border-radius: 0.5rem;
    user-select: none;
    /*property specifies whether the text of an element can be selected*/
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    box-sizing: content-box;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
    font-size: 0.8rem;
    height: 1.4rem;
    padding: 0 0.2rem;
    display: inline-block;
    text-decoration: none;
    border: 0px;
    font-weight: 500;
    color: #fff;
    background-color: #61892F;
    /*Pea Green*/
    outline: none;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
}

.sign-up:hover,
.my-recipes:hover,
.add-recipe:hover {
    background-color: #86C232;
    /*Lime Green*/
    text-decoration: none;
    color: #000;
}

.access-exit {
    font: 1.4rem;
    height: 1.4rem;
    padding: 0 0.2rem;
    color: #fafafa; /*Off White*/
}

.access-exit:hover {
    background-color: transparent;
    color: #61892F;
    /*Pea Green*/
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
}

/* Containers */

.masthead {
    /*Homepage food graphic*/
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead-heading {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 2.75rem;
}

.masthead-subheading {
    font-size: 1.4rem;
    font-weight: 500;
}

.register {
    /*Reduces whitespace between header & footer*/
    margin-top: -2.5rem;
    margin-bottom: -2.5rem;
}

.portfolio-section {
    padding-top: 3rem;
}

.page-section {
    /*Styling for front page portfolio*/
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: #61892F;
}

.page-section-about {
    padding-bottom: 2rem;
    width: 90%;
    border-radius: 1rem; 
    background-color: #86C232;
}

.about-title {
    /*Applies to home page = 'Why Virtual Cookbook?'*/
    color: #61892F;
}

.portfolio-item {
    /*Food genre image formatting*/
    cursor: pointer;
    position: relative;
    display: block;
    text-align: center;
    color: #FFF;
    width: auto;
    overflow: hidden;
    border-radius: 1rem;
    transition: transform .75s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.portfolio-item:hover {
    transform: scale(0.975);
}

.portfolio-item a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #61892F;
}

.portfolio-brand {
    font-size: 3rem;
    font-weight: 500;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recipe-description {
    padding-bottom: 1rem;
}

.recipe-container {
    padding-top: 1rem;
}

.recipe-icons {
    /* Creates space between recipe brief description and set of 6 food icons*/
    padding-top: 1.5rem;
}

.food-icons {
    /*Icons sourced from Font Awesome 5*/
    background-position: center;
}

.loghead {
    /*Homepage food graphic*/
    padding-top: calc(5rem + 74px);
    padding-bottom: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.log-title,
.log-narrative,
.log-narrative a {
    color: #FFF;
}

.log-narrative a {
    color: #FFFF00;
    /* Yellow */
}

.log-narrative a:hover {
    text-decoration: none;
    color: #FFFF00;
    /* Yellow */
    font-weight: 600;
    cursor: pointer;
}

.reg-container {
    /*Border & shadow creation for both login & register containers*/
    padding: 0.625rem;
    margin: 0.625rem;
    border: 2px solid #61892F;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    color: #61892F;
}

.log-mid-container,
.reg-mid-container {
    /*Flex allows text to wrap within the container*/
    display: flex;
}

.log-low-container,
.reg-low-container {
    /*Width and margin settings allow improved UXD*/
    margin: auto;
    min-width: 18rem;
}

.name-heading {
    /*Personal profile page name heading*/
    text-align: left;
    color: #61892F;
    padding: 1.25rem 0rem 0.625rem 0rem;
}

.profile-container {
    /*Personal profile container*/
    width: auto;
    margin: auto;
}

.grav-profile {
    /*Positioning of gravatar image*/
    margin-top: 2em;
    border-radius: 0.5rem;
}

.card-img-top {
    /*Recipe images given rounded corners & slight box shadow effect*/
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.count-text {
    /*Personal profile page recipe count*/
    font-size: 1.25rem;
    color: #61892F;
}

.recipe-edit-alert {
    color: #fff;
    background-color: #61892F;
    border: 2px solid #61892F;
    border-radius: 0.5rem;
    width: 50%;
    padding: 0.625rem;
    margin: 0.625rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.icon-smart {
    /*Food icons moved to central position*/
    padding-left: 3.75rem;
}

/*------------ Search Recipe Function ------------*/

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container {
    width: 75%;
    margin: 2rem auto;
}

.search-input {
    padding: 0.7rem 2rem;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 1.3rem;
    color: #F2F2F2;
    background-color: #474B4F;
    border: none;
    border-radius: 10rem;
    width: 70%;
    transition: all 0.2s;
    margin-right: -3.25rem;
}

.search-input:focus {
    outline: none;
    width: 72%;
    background-color: #474B4F;
    border-bottom: none;
    box-shadow: none;
}

.search-input::-webkit-input-placeholder {
    font-weight: 100;
    color: #F2F2F2;
    text-transform: uppercase;
}

.search-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-button:focus {
    outline: none;
    background-color: #474B4F;
}

.search-button:active {
    transform: translateY(2px);
}

.search-icon {
    height: 2rem;
    width: 2rem;
}

.fa-search {
    font-size: 1.8rem;
    color: #86C232;
}

.search-img-container {
    position: relative;
}

.search-img-container img {
    height: 45vh;
}

.img-search {
    width: 100%;
    object-fit: cover;
}

.search-img-title {
    background-color: #474B4F;
    opacity: 0.5;
    color: #FFF;
    border-radius: .5rem;
    font-size: 3.3rem;
    padding: 1rem;
    position: absolute;
    bottom: .5rem;
    left: 1.5rem;
}

.search-results {
    padding: .5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text-green {
    text-transform: capitalize;
}

.text-green,
.text-green-count {
    color: #61892F;
}

.main-menu-btn,
.log-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*------------ 404 Error formatting --------------*/

.error-container {
    display: flex;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.error-intro {
    text-align: center;
    color: #222629;
    /*Dark Slate*/
}

.error-sub-intro {
    text-align: center;
    color: #474B4F;
    /*Charcoal*/
}

.error-txt {
    text-align: center;
    color: #000;
    /*Black*/
}

.error-link {
    text-decoration: underline;
}

/* Block Dividers */

.divider-custom {
    /*Masthead divider*/
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-custom-icon {
    /*Masthead divider*/
    color: white;
    font-size: 2rem;
}

.divider-custom-icon-portfolio,
/*Portfolio divider*/

.divider-custom-icon-recipe {
    /*Recipe detail icon format & divider*/
    color: #61892F;
    font-size: 2rem;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider-recipe-detail,
.divider-addrecipe,
.divider-editrecipe {
    /*Recipe detail & Add recipe segregation with line breaks*/
    border: 1px solid #61892F;
    width: 6rem;
}

.divider-custom-icon-addrecipe i {
    /*Add recipe icon format*/
    color: #61892F;
    font-size: 1.75rem;
    padding: 1.2rem;
}

/*Textarea Resize*/

/*Resize brief description, ingredients & instructions textareas*/

textarea,
pre {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

.expandingArea {
    position: relative;
    border: 1px solid #888;
    background: #fff;
}

.expandingArea>textarea,
.expandingArea>pre {
    padding: 0.3125rem;
    background: transparent;
    font: 400 15px/18px montserrat, lato, sans-serif;
    /* Make the text soft-wrap */
    white-space: pre-wrap;
    word-wrap: break-word;
}

.expandingArea>textarea {
    /* The border-box box model is used to allow
   * padding whilst still keeping the overall width
   * at exactly that of the containing element.
   */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    /* This height is used when JS is disabled */
    height: 6.25rem;
}

.expandingArea.active>textarea {
    /* Hide any scrollbars */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* Remove WebKit user-resize widget */
    resize: none;
}

.expandingArea>pre {
    display: none;
}

.expandingArea.active>pre {
    display: block;
    /* Hide the text; just using it for sizing */
    visibility: hidden;
}

/* Buttons & Checkboxes */

.btn-confirm-recipe {
    /*Confirm recipe button found at bottom of edit recipe page*/
    margin-top: 0.2rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    background-color: #61892F;
    /*Pea Green*/
    border-color: #61892F;
    /*Pea Green*/
    color: #fff;
    /*White*/
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    width: 6.25rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-confirm-recipe:hover {
    /* add & confirm recipe buttons change colour when hovered & clicked */
    background-color: #86C232;
    /*lime green*/
    border-color: #86C232;
    color: #000;
    /*Black*/
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
}

.btn-recipe-detail,
/*Recipe detail button found in pages headed 'Meat Recipes', 'Poutltry Recipes', etc*/
.btn-register {
    /*Previous, Next & Submit buttons found in index.html in support of User Registration process*/
    border-radius: 0.5rem;
    background-color: #61892F;
    /*Pea Green*/
    border-color: #61892F;
    /*Pea Green*/
    color: #fff;
    /*White*/
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    width: 6rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-recipe-detail:hover,
.btn-register:hover {
    /* add recipe button changes colour when hovered & clicked */
    background-color: #86C232;
    /*lime green*/
    border-color: #86C232;
    color: #000;
    /*Black*/
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
}

.btn-edit-recipe,
.btn-back {
    /*Edit recipe button found at the bottom of the recipe detail page - recipe.html*/
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #FFC107;
    /*Amber Warning*/
    border-color: #FFC107;
    /*Amber Warning*/
    color: #222629;
    /*Dark Slate*/
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    width: 8rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-edit-recipe:hover,
.btn-back:hover {
    /* edit recipe button change colour when hovered & clicked */
    background-color: #86C232;
    /*lime green*/
    border-color: #86C232;
    color: #000;
    /*Black*/
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
}

.btn-back,
input[value="&larr;"] {
    /* Format back button */ 
    font-weight: 600;
}

.btn-delete-recipe {
    /*Delete recipe button found at the bottom of the recipe detail page - recipe.html*/
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #DC3545;
    /*Red Danger*/
    border-color: #DC3545;
    /*Red Danger*/
    color: #fafafa;
    /*Off white*/
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    width: 8rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-delete-recipe:hover {
    /* delete recipe button change colour when hovered & clicked */
    background-color: #86C232;
    /*lime green*/
    border-color: #86C232;
    color: #000;
    /*Black*/
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
}

.checkbox-list__item {
    /*Checkbox supports user favourite recipe selection*/
    position: relative;
    padding: 15px 0;
    display: block;
    cursor: pointer;
    margin: 0 0 0 40px;
    border-bottom: 1px solid #61892F;
}

.checkbox-list__item:last-of-type {
    border-bottom: 0;
}

.checkbox-list__check {
    width: 1.5rem;
    height: 1.6rem;
    border: 3px solid #61892F;
    position: absolute;
    left: -2.125rem;
    top: 50%;
    margin-top: -0.75rem;
    transition: border .3s ease;
    -webkit-transition: border .3s ease;
    -moz-transition: border .3s ease;
    -ms-transition: border .3s ease;
    -o-transition: border .3s ease;
    border-radius: 0.3125rem;
}

.checkbox-list__check:before {
    position: absolute;
    display: block;
    width: 1.125rem;
    height: 1.375rem;
    top: -2px;
    left: 0px;
    padding-left: 2px;
    background-color: transparent;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    content: '\2713';
    /*Tick in the box*/
    font-family: initial;
    font-size: 1.1875rem;
    color: white;
}

input[type="checkbox"]:checked~.checkbox-list__check {
    /*Checkbox changes to lime green once clicked by the user*/
    border-color: #86C232;
    /*lime green*/
}

input[type="checkbox"]:checked~.checkbox-list__check:before {
    background-color: #86C232;
    /*lime green*/
}

.btn-up {
    /*Edit recipe button found at the bottom of the recipe detail page - recipe.html*/
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #FFC107;
    /*Amber Warning*/
    border-color: #FFC107;
    /*Amber Warning*/
    color: #222629;
    /*Dark Slate*/
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    width: 3rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-up:hover {
    /* edit recipe button change colour when hovered & clicked */
    background-color: #86C232;
    /*lime green*/
    border-color: #86C232;
    color: #000;
    /*Black*/
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
}

.fa-angle-double-up:hover {
    transform: scale(1.25);
}

.move-top {
    z-index: 99;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
    display: none;
}

/* Social Media */

/* To include styling for social media fonts > font awesome */

.social-links-footer a {
    /*Anchor tags for both GitHub & LinkedIn background shading grey*/
    color: #e6e6e6;
    /*Light Grey*/
}

.social-links-footer a i {
    width: 2rem;
    height: 2rem;
    padding: 0.75rem 0;
    margin: 0.3rem;
    border-radius: 50%;
    /*Enables creation of circle where width & height of same value*/
    font-size: 0.8125rem;
    /*Enables icon to sit within border*/
    line-height: 0.4375rem;
    text-align: center;
    color: #000;
    border-color: #000;
    /*Black*/
    background: #e6e6e6;
    /*Light Grey*/
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
}

.fa-github:hover {
    /*User will see Github icon change to purple when cursor is hovered*/
    background: #6e5494;
    /*GitHub Purple*/
    color: #fff;
    transform: scale(1.15);
    opacity: 0.9;
}

.fa-linkedin:hover {
    /*User will see LinkedIn icon change to blue when cursor is hovered*/
    background: #0077B5;
    /*LinkedIn Blue*/
    color: #fff;
    transform: scale(1.15);
    opacity: 0.9;
}

/* Footer */

.footer {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    background-color: #474B4F;
}

.session-user {
    padding: 10px;
    margin: 10px;
    color: #fff;
    /*White*/
    font-weight: 500;
    border-radius: 0.5rem;
    border: 2px solid #fff;
    cursor: none;
}

.footer-contact a {
    /*Styling of contact the website author section*/
    color: #86C232;
    text-decoration: none;
    font-weight: 500;
}

.author-cred {
    color: #86C232;
    /*Lime Green*/
}

/* Media Queries */

@media (max-width: 375px) {
    /*Mobile - Portrait*/
    .search {
        padding-right: 1rem;
    }
    .search-input,
    .search-input:focus {
        width: auto;
        font-size: 1rem;
    }
    .fa-search {
        font-size: 1.5rem;
    }
    .search-icon {
        height: 1.5rem;
        width: 1.5rem;
    }
}

@media (max-width: 667px) {
    /*Mobile - Landscape*/
    .search {
        padding-right: 1rem; 
    }
    .search-input {
        font-size: 1rem;
    }
    .fa-search {
        font-size: 1.5rem;
    }
    .search-icon {
        height: 1.5rem;
        width: 1.5rem;
    }
}

@media (max-width: 767px) {
    /*Mobile - Hides the recipe count & favourite count*/
    label[class="navbar-count-all"] {
        display: none;
    }
}

@media (max-width: 768px) {
    /*Mobile - Add recipe & My Recipes button positions moved in from right side edge*/
    .add-recipe,
    .my-recipes {
        padding: 0 -1rem;
        margin: 0 -1rem;
        font-size: 0.8rem;
        height: 1.4rem;
    }
}

@media (min-width: 768px) {
    /*tablet - Centres the button position*/
    .btn-add-recipe {
        margin-top: 0.3rem;
    }
}

@media screen and (max-width: 1200px) {
    /*desktop - resize recipe image*/
    .recipe-image-container img {
        height: auto;
        max-width: 18.75rem;

    }
}

@media screen and (min-width: 1201px) {
    /*extra large devices - resize recipe image*/
    .recipe-image-container img {
        height: auto;
        max-width: 18.75rem;

    }
}
