
/* Special Padding / Margin / Text */

/* Colours */

/* Navbar */

.navbar-brand {
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.nav-item {
 margin-left: 20px;
 float: right;
 }

/* Images */

/* Containers */

/* Block Dividers */

/* Buttons */

.btn-add-recipe {
    background-color: blue;
    padding-top: 16px 0px 0px 16px;
    margin-top: 0.7rem;
}

/* Social Media */

/* Media Queries */

@media (min-width: 768px) {
    /*tablet - Centres the button position*/
    .btn-add-recipe {
        margin-top: 1rem;
    }
}