
/* Special Padding / Margin / Text */

/* Colours */

/* Navbar */

.navbar-brand {
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.nav-item {
 margin-left: 20px;
 float: right;
 }

/* Images */

/* Containers */

/* Block Dividers */

/* Buttons */

.btn-add-recipe {
    background-color: blue;
}

/* Social Media */

/* Media Queries */