{% extends 'register.html' %} {% block content %}

<main class="container error-container">
    <div class="row">
        <div class="col">
            <h1 class="error-intro">Hmm.. Looks like you've gone off the beaten path. </h1>
            <h2 class="error-sub-intro">Lets get you back on track...</h2>
            <p class="error-txt"><a class="error-link" href="{{ url_for('index') }}">Click this line to go back to the apps homepage.</a></p>
            <img src="{{ url_for('static', filename='img/404_Error_Graphic.jpg') }}" alt="404-Error" type"image/jpg">
            <p class="error-txt">The admin of this site has been notified of this error and a log has been made.</p>
        </div>
    </div>
</main>

{% endblock %}
