{% extends 'base.html' %} {% block content %}

<h2>{{ page_title }}</h2>

<div Class="row divider-custom-icon-addrecipe">
    <form action="{{ url_for('insert_tasks') }}" method="POST" class="col-sm-12">
        <div class="row">
            <div class="input-field col-sm-12">
                <i class="fas fa-tags"></i>
                <label><strong>Food Genre</strong></label>
                <select id="category" name="category_name">
              <option value="" disabled selected>Choose Category</option>
              {% for cat in categories %}
                  <option value="{{cat.category_name}}">{{cat.category_name}}</option>
              {% endfor %}
            </select>
            </div>
            <div class="container">
                <hr class="divider-addrecipe">
            </div>
            <div class="row">
                <div class="input-field col-sm-12 col-md-6">
                    <i class="fas fa-edit"></i>
                    <label for="icon_name"><strong>Recipe Name</strong></label>
                    <input id="recipe_name" name="recipe_name" type="text" placeholder="eg Sausage Ragu" class="validate" required>
                </div>
                <div class="input-field col-sm-12 col-md-6">
                    <i class="fas fa-user"></i>
                    <label for="icon_author"><strong>Author Name</strong></label>
                    <input id="author_name" name="author_name" type="text" placeholder="eg Esther Clark" class="validate" required>
                </div>
                <div class="input-field col-sm-12 col-md-6">
                    <i class="far fa-clock"></i>
                    <label for="icon_prep"><strong>Preparation Time</strong> (mins)</label>
                    <input id="prep_time_mins" name="prep_time_mins" type="number" placeholder="eg 5" class="validate" required>
                </div>
                <div class="input-field col-sm-12 col-md-6">
                    <i class="far fa-clock"></i>
                    <label for="icon_cook"><strong>Cooking Time</strong> (mins)</label>
                    <input id="cook_time_mins" name="cook_time_mins" type="number" placeholder="eg 45" class="validate" required>
                </div>
                <div class="input-field col-sm-12 col-md-6">
                    <i class="fas fa-graduation-cap"></i>
                    <label for="icon_complexity"><strong>Complexity</strong> (cooking skills)</label>
                    <select id="complexity" name="complexity">
                        <option value=""></option>
                        <option value="Easy">Easy</option>
                        <option value="Challenge">Challenge</option>
                    </select>
                </div>
                <div class="input-field col-sm-12 col-md-6">
                    <i class="fas fa-users"></i>
                    <label for="icon_servings"><strong>Servings</strong> (based on recipe)</label>
                    <input id="servings" name="servings" type="number" placeholder="eg 4" class="validate" required>
                </div>
            </div>
            <div class="container">
                <hr class="divider-addrecipe">
            </div>
            <div class="input-field col-sm-12">
                <i class="far fa-file-alt"></i>
                <label for="icon_brief_description"><strong>Brief Description</strong></label>
                <div class="expandingArea">
                    <pre><span></span><br></pre>
                    <textarea name="brief_description" id="brief_description" placeholder="eg Feed the family this comforting, budget-friendly sausage ragu with pasta." class="textarea" required></textarea>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="input-field col-sm-12">
                <i class="fas fa-weight"></i>
                <label for="icon_calories"><strong>Calories</strong></label>
                <input id="calories" name="calories" type="number" placeholder="eg 589" class="validate" required>
            </div>
            <div class="spacer"></div>
            <div class="input-field col-sm-12">
                <i class="far fa-file-alt"></i>
                <label for="icon_ingredients"><strong>Ingredients</strong></label>
                <div class="expandingArea">
                    <pre><span></span><br></pre>
                    <textarea name="ingredients" id="ingredients" placeholder="eg 3 tbsp olive oil, 1 onion, finely chopped, 2 large garlic cloves, crushed, ¼ tsp chilli flakes, 2 rosemary sprigs, leaves finely chopped, 2 x 400g cans chopped tomatoes, 1 tbsp brown sugar, 6 pork sausages, 150ml whole milk, 1 lemon, zested, 350g rigatoni pasta"
                        class="textarea" required></textarea>
                </div>
            </div>
            <div class="container">
                <hr class="divider-addrecipe">
            </div>
            <div class="input-field col-sm-12">
                <i class="far fa-file-alt"></i>
                <label for="icon_instructions"><strong>Instructions</strong></label>
                <div class="expandingArea">
                    <pre><span></span><br></pre>
                    <textarea name="instructions" id="instructions" placeholder="eg Heat 2 tbsp of the oil in a saucepan over a medium heat. Fry the onion with a pinch of salt for 7 mins. Add the garlic, chilli and rosemary, and cook for 1 min more. Tip in the tomatoes and sugar, and simmer for 20 mins. Heat the remaining oil in a medium frying pan over a medium heat. Squeeze the sausagemeat from the skins and fry, breaking it up with a wooden spoon, for 5-7 mins until golden. Add to the sauce with the milk and lemon zest, then simmer for a further 5 mins. To freeze, leave to cool completely and transfer to large freezerproof bags. Cook the pasta following pack instructions. Drain and toss with the sauce. Scatter over the parmesan and parsley leaves to serve."
                        class="textarea" required></textarea>
                </div>
            </div>
            <div class="container">
                <hr class="divider-addrecipe">
            </div>
            <div class="input-field col-sm-12">
                <i class="far fa-file-image"></i>
                <label for="icon_image"><strong>Recipe Image</strong> (url / web address)</label>
                <input id="recipe_image" name="recipe_image" required x-moz-errormessage="Enter Your Website URL starting with http://" value="" type="url" placeholder="eg https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/
                recipe/recipe-image/2019/08/sausage-ragu.jpg?itok=7pSgOnFe" class="inputText" size="35" maxlength="128" required>
            </div>
        </div>
        <div class="spacer"></div>
        <h4 class="left-align">Favourite?</h4>
        <label class="checkbox-list__item">
                <input class="checkbox_buttons" type="checkbox" checked="checked" name="favourite" checked style="display: none;">
                  <div class="checkbox-list__check"></div>
                </label>

        <div class="spacer"></div>
        <div class="row">
            <button class="btn-large btn-confirm-recipe" type="submit" name="action">Confirm</button>
        </div>
        <div class="spacer"></div>
    </form>


</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

{% endblock %}
