{% extends 'base.html' %} {% block content %}

<h2 class="title">Add New Recipe</h2>
<main>
    <!-- Homepage anchor tag created to help user move to homepage if they dont want to add a new recipe -->
    <a href=" {{ url_for('index') }}"><i class="cross far fa-times-circle float-right"></i></a>
    <div class="container ">
        <form method="POST" class="form-width">
            {{ form.csrf_token }}
            <div class="row divider-custom-icon-addrecipe">
                <!-- User can input a food genre from Meat, Poultry, Fish, Vegetables, Grains & Pasta -->
                <div class="input-field icon-smart col-sm-12 col-md-6">
                    <i class="fas fa-tags"></i>
                    <label for="category_name">Food Genre</label> {{ form.hidden_tag() }} {{ form.category_name(type="text", placeholder="Meat, Poultry, etc") }}
                </div>
                <!-- Complexity of food recipe and recognition of cooking skills -->
                <div class="input-field icon-smart col-sm-12 col-md-6">
                    <i class="fas fa-graduation-cap"></i>
                    <label for="complexity">Complexity</label> {{ form.hidden_tag() }} {{ form.complexity(type="text", placeholder="Easy or Challenge") }}
                </div>
                <!-- User is required to complete the recipe name -->
                <div class="input-field icon-smart col-sm-12 col-md-6">
                    <i class="fas fa-edit"></i>
                    <label for="recipe_name">Recipe Name</label> {{ form.hidden_tag() }} {{ form.recipe_name(type="text", placeholder="Sausage Ragu") }}
                </div>
                <!-- Author of recipe --> 
                <div class="input-field icon-smart col-sm-12 col-md-6">
                    <i class="fas fa-user"></i>
                    <label for="author_name">Author Name</label> {{ form.hidden_tag() }} {{ form.author_name(type="text", placeholder="Esther Clark") }}
                </div>
                <!-- Food preparation time -->
                <div class="input-field icon-smart col-sm-12 col-md-6">
                    <i class="far fa-clock"></i>
                    <label for="prep_time_mins">Prep Time</label> {{ form.hidden_tag() }} {{ form.prep_time_mins(type="number", min="1", max="180", placeholder="5") }}
                </div>
                <!-- Total expected cooking time -->
                <div class="input-field icon-smart col-sm-12 col-md-6">
                    <i class="far fa-clock"></i>
                    <label for="cook_time_mins">Cook Time</label> {{ form.hidden_tag() }} {{ form.cook_time_mins(type="number", min="1", max="300",placeholder="45") }}
                </div>
                <!-- Calories per serving -->
                <div class="input-field icon-smart col-sm-12 col-md-6">
                    <i class="fas fa-weight"></i>
                    <label for="calories">Calories</label> {{ form.hidden_tag() }} {{ form.calories(type="number", min="100", max="800", placeholder="589") }}
                </div>
                <!-- Number of servings based upon the quantity of ingredients in recipe -->
                <div class="input-field icon-smart col-sm-12 col-md-6">
                    <i class="fas fa-users"></i>
                    <label for="servings">Servings</label> {{ form.hidden_tag() }} {{ form.servings(type="number", min="1", max="10", placeholder="4") }}
                </div>
                <hr class="divider-addrecipe">
                <!-- A brief description of the recipe signposts the positive recipe attributes -->
                <div class="input-field col-sm-12">
                    <i class="far fa-file-alt"></i>
                    <label for="brief_description">Brief Description</label>
                    <div class="expandingArea">
                        <pre><span></span><br></pre> {{ form.hidden_tag() }} {{ form.brief_description(class="textarea", placeholder="Feed the family this comforting, budget-friendly sausage ragu with pasta.") }}
                    </div>
                </div>
                <!-- All recipe ingredients and treatment of ingredients set out here -->
                <div class="input-field col-sm-12">
                    <i class="far fa-file-alt"></i>
                    <label for="ingredients">Ingredients</label>
                    <div class="expandingArea">
                        <pre><span></span><br></pre> {{ form.hidden_tag() }} {{ form.ingredients(class="textarea", placeholder="3 tbsp olive oil, 1 onion, finely chopped, 2 large garlic cloves, crushed, ¼ tsp chilli flakes, 2 rosemary sprigs, leaves finely chopped, 2 x 400g cans chopped tomatoes, 1 tbsp brown sugar, 6 pork sausages, 150ml whole milk, 1 lemon, zested, 350g rigatoni pasta") }}
                    </div>
                </div>
                <!-- Detailed instructions on how to cook the ingredients -->
                <div class="input-field col-sm-12">
                    <i class="far fa-file-alt"></i>
                    <label for="instructions">Instructions</label>
                    <div class="expandingArea">
                        <pre><span></span><br></pre> {{ form.hidden_tag() }} {{ form.instructions(class="textarea", placeholder="Heat 2 tbsp of the oil in a saucepan over a medium heat. Fry the onion with a pinch of salt for 7 mins. Add the garlic, chilli and rosemary, and cook for 1 min more. Tip in the tomatoes and sugar, and simmer for 20 mins. Heat the remaining oil in a medium frying pan over a medium heat. Squeeze the sausagemeat from the skins and fry, breaking it up with a wooden spoon, for 5-7 mins until golden. Add to the sauce with the milk and lemon zest, then simmer for a further 5 mins. To freeze, leave to cool completely and transfer to large freezerproof bags. Cook the pasta following pack instructions. Drain and toss with the sauce. Scatter over the parmesan and parsley leaves to serve.") }}
                    </div>
                </div>
                <!-- A recipe image url web address is required to enable image creation --> 
                <div class="input-field col-sm-12">
                    <i class="far fa-file-image"></i>
                    <label for="recipe_image">Recipe Image URL Address</label> {{ form.hidden_tag() }} {{ form.recipe_image(size=31, required=true, placeholder="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2019/08/sausage-ragu.jpg?itok=7pSgOnFe")
                    }}
                </div>
                <!-- Tickbox used to capture users favourite recipes. Box ticked = favourite -->
                <div class="container">
                    <h4 class="left-align">Favourite?</h4>
                    <label class="checkbox-list__item">
                <input class="checkbox_buttons" type="checkbox" name="favourite" checked style="display: none;">
                  <span class="checkbox-list__check"></span>
                </label>
                    <div class="spacer"></div>
                    <!-- Submit recipe button to enable both registered and unregistered users to view recipe -->
                    <button class="btn-medium btn-confirm-recipe" type="submit">Submit</button>
                </div>
                <div class="spacer"></div>
            </div>
        </form>
    </div>
</main>

<!-- JS Library -->
<!-- Textarea responsive reformatting in JS due ot restrictions in both html and css -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>


{% endblock %}
