{% extends 'base.html' %} {% block content %}

<h2>{{ page_title }}</h2>

<div Class="row divider-custom-icon-addrecipe">
    <form action="{{ url_for('update_task', task_id=task._id) }}" method="POST" class="col-sm-12">
        <div class="row">
            <div class="input-field col-sm-12">
                <i class="fas fa-tags"></i>
                <select id="category" name="category_name">
              <option value="" disabled selected>Choose Category</option>
              {% for cat in categories %}
                  {% if cat.category_name == task.category_name%}
                  <option value="{{cat.category_name}}" selected >{{cat.category_name}}</option>
                  {% else %}
                  <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                  {% endif %}
              {% endfor %}
            </select>
                <label><strong>Food Genre</strong></label>
            </div>
            <div class="container">
            <hr class="divider-addrecipe">
            </div>
            <div class="row">
            <div class="input-field col-sm-12 col-md-6">
                <i class="fas fa-edit"></i>
                <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{task.recipe_name}}">
                <label for="icon_name"><strong>Recipe Name</strong></label>
            </div>
            <div class="input-field col-sm-12 col-md-6">
                <i class="fas fa-user"></i>
                <input id="author_name" name="author_name" type="text" class="validate" value="{{task.author_name}}">
                <label for="icon_author"><strong>Author Name</strong></label>
            </div>
            <div class="input-field col-sm-12 col-md-6">
                <i class="far fa-clock"></i>
                <input id="prep_time_mins" name="prep_time_mins" type="number" class="validate" value="{{task.prep_time_mins}}">
                <label for="icon_prep"><strong>Preparation Time</strong> (mins)</label>
            </div>
            <div class="input-field col-sm-12 col-md-6">
                <i class="far fa-clock"></i>
                <input id="cook_time_mins" name="cook_time_mins" type="number" class="validate" value="{{task.cook_time_mins}}">
                <label for="icon_cook"><strong>Cooking Time</strong> (mins)</label>
            </div>
            <div class="input-field col-sm-12 col-md-6">
                <i class="fas fa-graduation-cap"></i>
                <input id="complexity" name="complexity" type="text" class="validate" value="{{task.complexity}}">
                <label for="icon_complexity"><strong>Complexity</strong> (Easy/Challenge)</label>
            </div>
            <div class="input-field col-sm-12 col-md-6">
                <i class="fas fa-users"></i>
                <input id="servings" name="servings" type="number" class="validate" value="{{task.servings}}">
                <label for="icon_servings"><strong>Servings</strong> (based on recipe)</label>
            </div>
            </div>
            <div class="container">
            <hr class="divider-addrecipe">
            </div>
            <div class="input-field col-sm-12">
                <i class="far fa-file-alt"></i>
                <textarea name="brief_description" id="brief_description" class="textarea" />{{task.brief_description}}</textarea>
                <label for="icon_brief_description"><strong>Brief Description</strong></label>
            </div>
            <div class="spacer"></div>
            <div class="input-field col-sm-12">
                <i class="fas fa-weight"></i>
                <input id="calories" name="calories" type="number" class="validate" value="{{task.calories}}">
                <label for="icon_calories"><strong>Calories</strong></label>
            </div>
            <div class="spacer"></div>
            <div class="input-field col-sm-12">
                <i class="far fa-file-alt"></i>
                <textarea name="ingredients" id="ingredients" class="textarea" />{{task.ingredients}}</textarea>
                <label for="icon_ingredients"><strong>Ingredients</strong></label>
            </div>
            <div class="container">
            <hr class="divider-addrecipe">
            </div>
            <div class="input-field col-sm-12">
                <i class="far fa-file-alt"></i>
                <textarea name="instructions" id="instructions" class="textarea" />{{task.instructions}}</textarea>
                <label for="icon_instructions"><strong>Instructions</strong></label>
            </div>
            <div class="container">
            <hr class="divider-addrecipe">
            </div>
            <div class="input-field col-sm-12">
                <i class="far fa-file-image"></i>
                <input id="recipe_image" name="recipe_image" type="text" class="validate" value="{{task.recipe_image}}">
                <label for="icon_image"><strong>Recipe Image</strong> (url / web address)</label>
            </div>
        </div>
            <div class="spacer"></div>
            <h4 class="left-align">Favourite?</h4>
            <div class="switch">
                <label>
                {% if task.favourite %}
                         <input id="favourite" name="favourite" type="checkbox" checked>
                    {% else %}
                         <input id="favourite" name="favourite" type="checkbox">
                    {% endif %}
               <input type="checkbox" checked>
                 <span class="slider round"></span>
            </label>
            </div>
            <div class="spacer"></div>
        <div class="row">
            <button class="btn-large btn-edit-recipe" type="submit" name="action">Edit</button>
        </div>
        <div class="spacer"></div>
    </form>


</div>

{% endblock %}
