{% extends 'base.html' %} {% block content %}

<h2 class="title">Edit Recipe</h2>
<main>
    <a href=" {{ url_for('task', tasks_id=task._id) }}"><i class="cross far fa-times-circle float-right"></i></a>
    <div class="container">
        <form method="POST" class="form-width">
            {{ form.csrf_token }}
            <div class="row divider-custom-icon-addrecipe">
                <div class="input-field icon-smart col-sm-12 col-md-6">
                    <i class="fas fa-tags"></i>
                    <label for="category_name">Food Genre</label> {{ form.hidden_tag() }} {{ form.category_name }}
                </div>
                <div class="input-field icon-smart col-sm-12 col-md-6">
                    <i class="fas fa-graduation-cap"></i>
                    <label for="complexity">Complexity</label> {{ form.hidden_tag() }} {{ form.complexity }}
                </div>
                <div class="input-field icon-smart col-sm-12 col-md-6">
                    <i class="fas fa-edit"></i>
                    <label for="recipe_name">Recipe Name</label> {{ form.hidden_tag() }} {{ form.recipe_name }}
                </div>
                <div class="input-field icon-smart col-sm-12 col-md-6">
                    <i class="fas fa-user"></i>
                    <label for="author_name">Author Name</label> {{ form.hidden_tag() }} {{ form.author_name }}
                </div>
                <div class="input-field icon-smart col-sm-12 col-md-6">
                    <i class="far fa-clock"></i>
                    <label for="prep_time_mins">Prep Time</label> {{ form.hidden_tag() }} {{ form.prep_time_mins }}
                </div>
                <div class="input-field icon-smart col-sm-12 col-md-6">
                    <i class="far fa-clock"></i>
                    <label for="cook_time_mins">Cook Time</label> {{ form.hidden_tag() }} {{ form.cook_time_mins }}
                </div>
                <div class="input-field icon-smart col-sm-12 col-md-6">
                    <i class="fas fa-weight"></i>
                    <label for="calories">Calories</label> {{ form.hidden_tag() }} {{ form.calories }}
                </div>
                <div class="input-field icon-smart col-sm-12 col-md-6">
                    <i class="fas fa-users"></i>
                    <label for="servings">Servings</label> {{ form.hidden_tag() }} {{ form.servings }}
                </div>
                <hr class="divider-editrecipe">
                <div class="input-field col-sm-12">
                    <i class="far fa-file-alt"></i>
                    <label for="brief_description">Brief Description</label>
                    <div class="expandingArea">
                        <pre><span></span><br></pre> {{ form.hidden_tag() }} {{ form.brief_description(class="textarea") }}
                    </div>
                </div>
                <div class="input-field col-sm-12">
                    <i class="far fa-file-alt"></i>
                    <label for="ingredients">Ingredients</label>
                    <div class="expandingArea">
                        <pre><span></span><br></pre> {{ form.hidden_tag() }} {{ form.ingredients(class="textarea") }}
                    </div>
                </div>
                <div class="input-field col-sm-12">
                    <i class="far fa-file-alt"></i>
                    <label for="instructions">Instructions</label>
                    <div class="expandingArea">
                        <pre><span></span><br></pre> {{ form.hidden_tag() }} {{ form.instructions(class="textarea") }}
                    </div>
                </div>
                <div class="input-field col-sm-12">
                    <i class="far fa-file-image"></i>
                    <label for="recipe_image">Recipe Image URL Address</label> {{ form.hidden_tag() }} {{ form.recipe_image(size=31, required=true) }}
                </div>
                <div class="container">
                    <h4 class="left-align">Favourite?</h4>
                    <label class="checkbox-list__item">
                <input class="checkbox_buttons" type="checkbox" name="favourite" checked style="display: none;">
                  <span class="checkbox-list__check"></span>
                </label>
                    <div class="spacer"></div>
                    <button class="btn-medium btn-confirm-recipe" type="submit">Submit</button>
                </div>
                <div class="spacer"></div>
            </div>
        </form>
</main>

<!-- JS Library -->
<!-- Textarea responsive reformatting in JS due ot restrictions in both html and css -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>


{% endblock %}
