{% extends 'base.html' %} {% block content %}

<div class="row">
  <!-- Portfolio Section -->
  <section class="container-fluid portfolio page-section">

    <!-- Portfolio Section Heading -->
    <h2 class="page-section-heading">Portfolio</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="row"></div>
      <div class="divider-custom-icon-portfolio">
        <i class="medium material-icons nav-icon">local_dining</i>
      </div>
      <div class="row"></div>
    </div>
    <hr class="block-divider-portfolio">

    <!-- Portfolio Grid Items -->

    <!-- Portfolio Item 1 -->
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-image">

            <a href="{{ url_for('meat') }}"><img class="img-fluid" src="{{ url_for('static', filename='img/meat.jpg') }}" alt=""><span class="card-title"><strong>MEAT</strong></span></a>

          </div>
        </div>
      </div>
    </div>

    


  </section>



</div>
{% endblock %}
