{% extends 'base.html' %} {% block content %}
<main class="log-container">
    <a href=" {{ url_for('index') }}"><i class="cross fas fa-times float-right"></i></a>
    <div class="middle-container">
        <div class="inner-container">
            <h2 class="title">Login</h2>
            <p class="text-center">Only logged in users have access all cookbook functions</p>
            <form method="POST" action="" class="form-width">
                {{ form.csrf_token }} {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                <p class="flashMessage">{{ message }}</p>
                {% endfor %} {% endif %} {% endwith %}
                <div class="input-field d-flex align-items-center justify-content-center">
                    {{ form.hidden_tag() }} {{ form.username(size=30, autofocus=true, required=true, placeholder="Enter Username") }}
                </div>
                <div class="input-field d-flex align-items-center justify-content-center">
                    {{ form.password(size=30, required=true, placeholder="Enter Password") }}
                </div>
                <p class="text-center"><small>Click X to return to homepage</small></p>
                <div class="section">Not registered? Click <a href="{{ url_for('register') }}">here.</a></div>
                <button class="btn-large btn-confirm-recipe" type="submit" name="action">Submit  <i class="fas fa-greater-than"></i></button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
