{% extends 'base.html' %} {% block content %}
<!-- Recipe list of a specific food genre held on secure mongodb cloud server -->

<!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/poultry-collection.jpg') }}')">
    <div class="overlay"></div>
    <div class="container d-flex align-items-center flex-column text-white text-center">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">Virtual Cookboox</h1>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="row"></div>
        <div class="divider-custom-icon">
          <i class="pr-2 fa fa-star"></i><i class="pr-2 fa fa-star"></i><i class="fa fa-star"></i>
        </div>
        <div class="row"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading">{{ page_title }}</p>
      <div class="container d-flex align-items-center justify-content-center">
        <div class="row">
          {% if 'username' in session %}
          <span class="session-user">A warm welcome to: {{ session['username'].title() }}</span> {% else%} {% endif %}
        </div>
      </div>
    </div>
  </header>
  
<!-- Count of Poultry Recipes -->
<div class="search-results">
    <h2 class="sub-heading">You have access to <span class="text-green-count">{{ count_poultry_tasks }}</span> Poultry recipes.</h2>
</div>   

<div class="container-fluid pt-4">
    <div class="pt-4 row col-sm-12">
        {% for task in tasks %}
        <div class="mb-3 col-sm-6 col-md-6 col-lg-4">
            <div class="card-deck d-flex align-items-center justify-content-center" style="width:100%">
                <img class="card-img-top" src="{{ task.recipe_image }}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{ task.recipe_name }}</h4>
                    <p class="card-text">{{ task.brief_description }}</p>
                    <div class="spacer"></div>
                    <a href="{{ url_for('task', tasks_id=task._id) }}" class="btn-medium btn-recipe-detail bottomleft">Detail</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Button to help user navigate back to home page --> 
<div class="container">
    <div class="row pl-2 pb-3 main-menu-btn">
        <input type=button class="btn btn-back" value="&larr; Back" onClick="history.go(-1)">
    </div>
</div>
{% endblock %}
