{% extends 'base.html' %} {% block content %} {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
<!-- Confirmation message to user that their recipe has been updated -->
<div class="row" id="alert_box">
    <div class="col-sm-12 col-md-12 d-flex align-items-center justify-content-center">
        <div class="recipe-edit-alert">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="card-content-alert white-text">
                        <p class="alert text-center">{{ message }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endif %} {% endwith %}

<!-- Page Layout -->
<main class="recipe-container">
    <!-- Food recipe image -->
    <div class="row">
        <div class="col-md-5 recipe-image-container d-flex align-items-center justify-content-center">
            <img data-aos="fade-right" class="img-fluid card-img-top" src="{{ task.recipe_image }}">
        </div>
        <!-- Brief description of recipe -->
        <div class="col-md-7" data-aos="fade-left">
            <h3>{{ task.recipe_name }}</h3>
            <div class="row">
                <p class="recipe-description">{{ task.brief_description }}</p>
            </div>
            <hr class="divider-recipe-detail"></hr>
        </div>
        
        <div class="container">
            <div class="row recipe-icons" data-aos="fade-down"
                <!-- Author of recipe -->
                <div class="col-6 col-sm-6 col-md-2 food-icons">
                    <div><i class="divider-custom-icon-recipe fas fa-user"></i></div>
                    <p class="clear text-center">{{ task.author_name }}</p>
                </div>
                <!-- Complexity of food recipe and recognition of cooking skills -->
                <div class="col-6 col-sm-6 col-md-2 food-icons">
                    <div><i class="divider-custom-icon-recipe fas fa-graduation-cap"></i></div>
                    <p class="clear text-center">{{ task.complexity }}</p>
                </div>
                <!-- Food preparation time -->
                <div class="col-6 col-sm-6 col-md-2 food-icons">
                    <div><i class="divider-custom-icon-recipe far fa-clock"></i></div>
                    <p class="clear text-center">{{ task.prep_time_mins }} prep (mins)</p>
                </div>
                <!-- Total expected cooking time -->
                <div class="col-6 col-sm-6 col-md-2 food-icons">
                    <div><i class="divider-custom-icon-recipe far fa-clock"></i></div>
                    <p class="clear text-center">{{ task.cook_time_mins }} cook (mins)</p>
                </div>
                <!-- Calories per serving -->
                <div class="col-6 col-sm-6 col-md-2 food-icons">
                    <div><i class="divider-custom-icon-recipe fas fa-weight"></i></div>
                    <p class="clear text-center">{{ task.calories }} calories</p>
                </div>
                <!-- Number of servings based upon the quantity of ingredients in recipe -->
                <div class="col-6 col-sm-6 col-md-2 food-icons">
                    <div><i class="divider-custom-icon-recipe fas fa-users"></i></div>
                    <p class="clear text-center">{{ task.servings }} servings</p>
                </div>
            </div>
            <hr class="divider-recipe-detail" data-aos="fade-left"></hr>
        </div>
        <!-- All recipe ingredients and treatment of ingredients set out here -->
        <div class="container col-xs-12">
            <h4 class="left-align ingredients-section" data-aos="fade-right">Ingredients</h4>
                <p class="section recipe-ingredients" data-aos="fade-down" style="white-space: pre-wrap;">{{ task.ingredients }}</p>
            <hr class="divider-recipe-detail" data-aos="fade-left"></hr>
        </div>
        <!-- Detailed instructions on how to cook the ingredients -->
        <div class="container col-xs-12">
            <h4 class="left-align instructions-section" data-aos="fade-right">Instructions</h4>
                <p class="section recipe-instructions" data-aos="fade-down" style="white-space: pre-wrap;">{{ task.instructions }}</p>
            <hr class="divider-recipe-detail" data-aos="fade-left"></hr
        </div>
        
        <!-- Edit and Delete recipe buttons only appear for logged on users -->
        <div class="container pb-3">
            {% if 'logged_in' in session %} {% if session['username'].title() == task.username.title() %}
            <span class="restrict-btn center-align"><a href="{{ url_for('edit_task', task_id=task._id) }}" class="btn-edit-recipe">Edit Recipe</a></span>
            <span class="restrict-btn"><a href="{{ url_for('delete_task', task_id=task._id) }}" class="btn-delete-recipe">Delete Recipe</a></span> 
            <div class="spacer"></div>
            <div class="container">
                <div class="row pl-2 pb-3 main-menu-btn">
                    <a class="btn btn-back" href="{{ url_for('profile_page', user_id=current_user._id) }}"> &larr; My Recipes </a>
                </div>
            </div>
            {% elif 'logged_in' in session %} 
                <!-- Button to help user navigate back to previous page --> 
                <div class="spacer"></div>
                <div class="container">
                    <div class="row pl-2 pb-3 main-menu-btn">
                        <input type=button class="btn btn-back" value="&larr; Back" onClick="history.go(-1)">
                    </div>
                </div>
            {% endif %}
            {% else %} 
                <!-- Button to help user navigate back to previous page --> 
                <div class="spacer"></div>
                <div class="container">
                    <div class="row pl-2 pb-3 main-menu-btn">
                        <input type=button class="btn btn-back" value="&larr; Back" onClick="history.go(-1)">
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="spacer"></div>
    </div>
    
</main>
{% endblock %}
