{% extends 'base.html' %} {% block content %}


<!-- Page Layout -->
<main class="recipe-container">
    <div class="row">
        <div class="col-md-5 recipe-image-container d-flex align-items-center justify-content-center">
            <img class="img-fluid" src="{{ task.recipe_image }}">
        </div>

        <div class="col-md-7">
            <h3>{{ task.recipe_name }}</h3>
            <div class="row">
                <p class="recipe-description">{{ task.brief_description }}</p>
            </div>
        </div>

        <hr class="divider-recipe-detail"></hr>
        <div class="container">
            <div class="row recipe-icons">
                <div class="col-6 col-sm-6 col-md-2 food-icons">
                    <div><i class="divider-custom-icon-recipe fas fa-user"></i></div>
                    <p class="clear">{{ task.author_name }}</p>
                </div>
                <div class="col-6 col-sm-6 col-md-2 food-icons">
                    <div><i class="divider-custom-icon-recipe fas fa-graduation-cap"></i></div>
                    <p class="clear">{{ task.complexity }}</p>
                </div>
                <div class="col-6 col-sm-6 col-md-2 food-icons">
                    <div><i class="divider-custom-icon-recipe far fa-clock"></i></div>
                    <p class="clear">{{ task.prep_time_mins }} prep (mins)</p>
                </div>
                <div class="col-6 col-sm-6 col-md-2 food-icons">
                    <div><i class="divider-custom-icon-recipe far fa-clock"></i></div>
                    <p class="clear">{{ task.cook_time_mins }} cook (mins)</p>
                </div>
                <div class="col-6 col-sm-6 col-md-2 food-icons">
                    <div><i class="divider-custom-icon-recipe fas fa-weight"></i></div>
                    <p class="clear">{{ task.calories }} calories</p>
                </div>
                <div class="col-6 col-sm-6 col-md-2 food-icons">
                    <div><i class="divider-custom-icon-recipe fas fa-users"></i></div>
                    <p class="clear">{{ task.servings }} servings</p>
                </div>
            </div>
        </div>
        <hr class="divider-recipe-detail"></hr> 
        <div class="container col-xs-12">
            <h4 class="left-align ingredients-section">Ingredients</h4>
            <p class="section recipe-ingredients" style="white-space: pre-wrap;">{{ task.ingredients }}</p>
        </div>
        <hr class="divider-recipe-detail"></hr>
        <div class="container col-xs-12">
            <h4 class="left-align instructions-section">Instructions</h4>
            <p class="section recipe-instructions" style="white-space: pre-wrap;">{{ task.instructions }}</p>
        </div>
        <hr class="divider-recipe-detail"></hr> 
        <div class="container">
            <h6 class="left-align">Add favourite &/or want to improve recipe? click 'Edit' to confirm..</h6>
            <h6 class="left-align">Unwanted recipe? click 'Delete' to confirm..</h6>
            <div class="spacer"></div>
            <div class="container">
                <div class="row">
                    <a href="{{url_for('edit_task', task_id=task._id)}}" class="btn-medium btn-edit-recipe">Edit</a>
                    <a href="{{url_for('delete_task', task_id=task._id)}}" class="btn-medium btn-delete-recipe">Delete</a>
                </div>
            </div>
        </div>
        <div class="spacer"></div>


    </div>
</main>
{% endblock %}
